body {
  margin: 0;
  padding: 0;
  background: #535353;
  font-family: sans-serif;
}

button {
  min-width: 76px;
  min-height: 21px;
  font-family: Arial;
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: center;
}

.PageLayout {
  max-width: 1024px;
  min-height: 100vh;
  margin: 0 auto;
  background: #fff;
  box-sizing: border-box;
  box-shadow: 0 0 15px 5px #0000003b;
}

.text {
  font-family: Arial;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}

.bold {
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
}

.price:after {
  margin-left: 5px;
  content: "\20BD";
}

.btn {
  display: flex;
  justify-content: flex-end;
  padding: 20px 20px 20px 10px;
}