.Item {
  display: flex;
  justify-content: flex-start;
}

.Item-code {
  padding: 20px 10px 20px 20px;
}

.Item-title {
  width: 100%;
  padding: 20px 10px;
}

.Item .Item-price {
  padding: 20px 10px 20px 0px;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
}

.Item .Item-price-margin-xs {
  padding: 20px 30px 20px 0px;
}

.Item .Item-price-margin-s {
  padding: 20px 45px 20px 0px;
}

.Item .Item-price-margin-m {
  padding: 20px 55px 20px 0px;
}

.Item .Item-price-margin-l {
  padding: 20px 65px 20px 0px;
}

.Item .Item-price-margin-xl {
  padding: 20px 85px 20px 0px;
}

.Item .Item-count {
  padding: 20px 10px;
  min-width: 50px;
  font-size: 18px;
  line-height: 18px;
  text-align: right;
}
