.Controls {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-bottom: 1px dashed #ccc;
}

.Controls .Controls-text {
  padding: 20px 10px;
  font-size: 18px;
  line-height: 21px;
}