.Modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7)
}


.Modal {
  position: absolute;
  width: 960px;
  min-height: 407px;
  top: 309px;
  margin: 0 32px;
  background-color: #fff;
  overflow: auto;
  box-shadow: 0px 0px 10px 0px #00000080;
  border-radius: 10px;
}



